@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurants in Town!</h1>

<h3>@Html.ActionLink("Add new cuisine", "Create", "Cuisines")</h3>
<h3>@Html.ActionLink("Show all cuisines", "Index", "Cuisines")</h3>
<h3>@Html.ActionLink("Add a restaurant", "Create", "Restaurants")</h3>
<h3>@Html.ActionLink("Show all restaurants", "Index", "Restaurants")</h3>


<h5>@Html.ActionLink("Search Price", "SearchPrice")</h5>